
.InputWindow {
  overflow: scroll;
  float: left;
  margin-top: 35px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  margin-left: 10px;

}



.input-text {
  color: #fff;
  background-color:#27292e;
  border: 1px solid black;

  resize: both;
  overflow: scroll;


  width: 90%;
  height: 525px;
  border-radius: 4px;
  padding: 1em;  
}

  
/* p {
  height: 200px;
  width: 200px;

} */
