/* .OutputWindow {
  overflow: scroll;
  float: right;
  padding-top: 50%;
  width: 100%;
} */

.output-window {
  overflow: scroll;
  float: right;
  padding-top: 50px;



  color: rgb(255, 255, 255);
  background-color: #363533;
  overflow: scroll;
  border: 1px solid black;

  margin-right: 10px;
  margin-top: 50px;
  height: 70%;
  width: 90%;
  border-radius: 4px;
  padding: 1em;
}
