.OutputWindow {

  height: 500px;
  width: 300px;
  overflow: scroll;
}

.output-window {
  float: right;
  padding-left: 10px;

  color: rgb(255, 255, 255);
  background-color: #363533;
  border: 1px solid black;
  height: 500px;
  width: 40%;
  overflow: scroll;
}
